<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Javascript Essentials</title>
    <link rel="stylesheet" href="../../../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/tomorrow-night-eighties.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.2/marked.min.js"></script>
    <script src="../js/lib.js"></script>
    <script src="../js/main.js" defer></script>
  </head>
  <body>
    <header>
      <div class="header-home-link">
        <a href="../../../index.html"
          ><i class="fa fa-angle-double-left"></i
        ></a>
      </div>
      <div class="header-title">
        <h1 id="title"></h1>
      </div>
      <div class="level-selector">
        <div class="level-selector-previous">
          <a href="" id="previous-link"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="level-path"></div>
        <div class="level-selector-next">
          <a href="" id="next-link"><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="level-completed">Completed <i class="fa fa-check"></i></div>
    </header>
    <main>
      <section class="instructions">
        <div class="section-header">
          <h3>Instructions</h3>
        </div>
        <div class="section-content" id="markdown-output"></div>
      </section>
      <section class="code">
        <div class="section-header">
          <h3>Files</h3>
        </div>
      </section>
      <section class="test">
        <div class="section-header"><h3>Test</h3></div>
        <div class="section-content test-console">
          <pre id="console-output"></pre>
        </div>
      </section>
    </main>
  </body>
</html>
